# Ignorar arquivos Python compilados
*.pyc
*__pycache__/
*.pyc

# Ignorar arquivos de ambiente
.env
.env.*

# Ignorar ficheiros de log, banco de dados e executáveis
# A mudança está aqui, com o asterisco no início
*.exe
