# Ignorar arquivos Python compilados
.venv/
__pycache__/
.env
*.log

# Ignorar arquivos de ambiente
.env
.env.*

# Ignorar ficheiros de log, banco de dados e executáveis
# A mudança está aqui, com o asterisco no início
*.exe
geckodriver
dados.db

auth_redscore.py
login_redscore.py
migrar_banco.py
arquivos.py
executar_scraping.sh

# Perfil temporário do Firefox (criado pelo script)
firefox_profile/

*.json
*.txt
brazil_serie-a-betano-2025.csv
*.log
lista_colunas_recomendadas_flashscore_ml.md
plano_migracao_statsgreen.md